// *****************************
// +++++++ $GRIDS ++++++
// *****************************

.galeria{
    display: grid;
    // grid-template: repeat(3, 1fr) / repeat(3, minmax(293px 1fr));
    grid-template-columns: repeat(3, 293px);
    grid-gap: 1rem;
    justify-content: center;
}
